includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    configDirectories:
        - src/Laravel/config
